*{
    font-family: 'Segoe UI',SegoeUI,'Microsoft JhengHei',微軟正黑體,"Helvetica Neue",Helvetica,Arial,sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.clearfix::after {
    display: block;
    clear: both;
    content: "";
}


.top{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.logo h1{
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    letter-spacing: .1em;
    color: #555555;
    font-size: 30px;
    padding: 20px 0;
}
.top .navbar{
    padding: 20px 0;
    background: #c8e6c9;
    color: #555555; 
}
.top li{
    display: inline-block;
    width: 8%;
    margin:0 3%;
    font-size: 24px;
}
.top span{
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    display: block;
    color: #555;
    padding: 5px 0;
    border-bottom:1px solid #555; 
}
.top .banner{
    width: 100%;
    height: 500px; 
    overflow: hidden;
}
.top .banner img{
    width: 100%;  
}
.main{
    max-width: 1440px;
    margin: 0 auto;
}

.main .service .item{
    text-align: center;
    width: 33.3333333%;
    padding: 50px 20px;
    float: left;
}
.main .service .item .pic{
    width: 100%;
    height: 400px; 
    overflow:hidden;
    box-shadow:2px 2px 10px rgba(0, 0, 0, .3), 8px 8px 0px rgba(0, 0, 0, .1);
}
.item .pic img{
    width: 100%;
}
.item h3{
    font-family: 'Playfair Display', serif;
    padding: 30px 0 10px 0;
    font-size: 30px;
    color:#204227;
}
.item p{
    padding: 0 20px;
    font-size: 20px;
}
.main .about{    
    background: url(/SoberHW/week03/img/malte-michels-716678-unsplash.jpg) no-repeat;
    background-size: 50%;
    background-position: left center;
}
.about .about_txt{
    width: 50%;
    margin-left: 50%;
    padding: 60px;
}
.about_txt h3{
    font-family: 'Playfair Display', serif;
    padding: 30px 0 30px 0;
    font-size: 30px;
    color:#204227;
}
.about_txt i{
    color:#204227;
    padding-right: 5px;
}
.about_txt p{
    font-size: 20px;
    text-align: justify;
}

.photo .img{
    width:50%;
    height: 400px;
    overflow:hidden;
    float: left;
    margin: 20px 0 80px 0;
}
.photo .img img{
    width:100%;
}
/* 最底下 */
.footer{
    padding: 10px;
    position:fixed;
    text-align: center;
    background-color: #204227;
    color:#fff;
    width: 100%;  
    bottom:0;
    z-index:100;
  }

@media screen and (max-width:768px) {
    .logo h1{
        font-size: 20px;
    }
    .top .navbar{
        padding: 5px 0 0 0;
    }
    .top li{
        width:100%;
        font-size: 18px;
        margin: 0 0 0 -5px;
        border-bottom: 1px dotted #555;
    }
    .top span{
        margin: 1px 0 1px 10px;
        display: inline-block;
        border-bottom:1px solid transparent; 
    }
    .top .banner{
        height: auto; 
    }
    .main .service .item{
        width: 90%;
        padding: 5% 0% 05% 10%;
    }
    .main .about{  
        padding-bottom: 10px;  
        background-size:cover ;
    }
    .about .about_txt{
        width: 95%;
        margin-left: 2.5%;
        text-align: center;
    }
    .about_txt h3{
        padding: 10px 0 10px 0;
        font-size: 20px;
        color: #c8e6c9;
    }
    .about_txt i{
        color: #c8e6c9;
    }
    .about_txt p{
        font-size: 14px;
        padding: 20px;
        color: #c8e6c9;
        background-color:rgba(38, 88, 40, .5);
    }
    .photo .img{
        height: 200px;
    }
    .footer{
        font-size: 16px;
      }
}






